{% extends "base.html" %}
{% block title %}xkcd: {{term}} search{% endblock %}
{% block body %}
{% if page > 1 %}
<a class='button' href='/search?q={{term}}&p={{page-1}}'>Last page</a>
{% endif %}

<a class='button' href='/search?q={{term}}&p={{page+1}}'>Next page</a>
</div>
<div class='box'>
<table>
{% if results %}
{% for res in results %}
<tr>
<td>
<a href='/{{res[0]}}'>
<img src='{{res[4]}}' style="height:60px;"/>
</a>
</td>
<td>
<a href='/{{res[0]}}'>
<b>{{res[0]}} - {{res[9]|safe}}</b>
</a>
</td>
<td>
<a href='/{{res[0]}}'>
Published on {{res[2]}}/{{res[3]}}/{{res[1]}}
</a>
</td>
</tr>
{% endfor %}
{% else %}
<p>No results</p>
{% endif %}
</table>
{% endblock %}